@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-opacity: 1;
    --main-color: #444;
    --second-color: rgba(74, 85, 104, var(--text-opacity));
    --main-bg-color: #fffff8;
    --second-bg-color: rgba(255, 255, 255, var(--bg-opacity));
    --main-border-color: #ccc;
    --h2-bg-color: rgba(254, 252, 191, var(--bg-opacity));
    --h3-bg-color: rgba(254, 235, 200, var(--bg-opacity));
    --h4-bg-color: rgba(237, 242, 247, var(--bg-opacity));
    --link-color: rgba(74, 85, 104, var(--text-opacity));
    --quote-bg-color: rgba(255, 245, 247, var(--bg-opacity));
    --menu-highlight: rgba(254, 235, 200, var(--bg-opacity));
    --menu-text-decoration-color: #fbd38d;
    --pre-bg-color: aliceblue;
}

@media(prefers-color-scheme:dark) {
    :root {
        --main-color: #fffff8;
        --second-color: #fffff8;
        --main-bg-color: #333; 
        --second-bg-color: #444;
        --main-border-color: #666;
        --h2-bg-color: #222;
        --h3-bg-color: #222;
        --h4-bg-color: #222;
        --link-color: lightblue;
        --quote-bg-color: darkslategrey;
        --menu-highlight: black;
        --menu-text-decoration-color: black;
        --pre-bg-color: black;
    }
    ul#primary-menu a.active {
        text-decoration:none;
    }
}

body {
    margin: 0 auto;
    line-height:1.6;
    color: var(--main-color);
    background-color: var(--main-bg-color);
    padding:0;
    font-family: Nunito, arial, sans;
    box-sizing: border-box;
    --bg-opacity: 1;
}

.widget {
    color: var(--main-color);
    background-color: var(--main-bg-color);
}

article p:not(:last-child) {
    @apply mb-4;
}

article figure {
    @apply mb-6;
}

a:not(h1) {
    color: var(--link-color);
    @apply underline;
}

blockquote {
    @apply italic border-l-4 p-2 mb-4;
    background-color: var(--quote-bg-color);
}

.h-card img {
    @apply inline rounded-full;
}

.kind-meta-section {
    @apply border-b-2 border-dashed mb-4 text-base;
}

.kind-meta-section__header {
    @apply px-1 mb-1 bg-yellow-300;
}

.kind-meta-section blockquote {
    @apply bg-red-100 mb-2;
}

.cat-links li {
    @apply inline px-1;
    background-color: var(--menu-highlight);
}

.cat-links li a {
    @apply no-underline;
}

.tags-links li {
    @apply inline-block px-1 bg-yellow-300 ml-1 mb-1;
}

.tags-links li a {
    @apply no-underline;
}

.nav-links {
    @apply mb-2;
}

.posts-navigation,
.post-navigation {
    @apply w-full;
}

.nav-links {
    @apply flex flex-row justify-between;
}
.nav-previous, .nav-next {
    @apply bg-gray-300 px-2 py-1 text-center;
}

.nav-previous a, .nav-next a {
    @apply no-underline;
}

.screen-reader-text {
    @apply hidden;
}

.wp-embedded-content {
    @apply w-full;
}

.comments-area {
    @apply border-t-2 border-dashed mt-4;
}

@screen sm {
    .comment-list,
    indie-action .likes,
    indie-action .mentions,
    .comment-respond,
    #webmention-form {
        @apply w-3/4;
    }
    .comment-form-author,
    .comment-form-email,
    .comment-form-url {
        @apply w-1/2;
    }
}

.comment-list {
}

.comment {
    @apply bg-white p-4 border-dotted border-2 p-3;
}

.comments-title {
    @apply text-gray-700 text-lg mt-2 mb-2 px-2;
}

indie-action .likes,
indie-action .mentions {
    @apply bg-white p-4 border-dotted border-2 p-3 mt-2;
}

indie-action .likes h3,
indie-action .mentions h3 {
    @apply bg-red-300 px-1 mb-1;
}

.comment-meta .comment-author {
    @apply bg-yellow-300 px-1 mb-2 border-b-2 border-dashed;
}

.comment-meta .comment-metadata {
    @apply text-sm mb-2;
}

.comment .reply {
    @apply mt-4;
}

.comment-respond,
#webmention-form {
    @apply mt-6 p-3 border-dotted border-2;
}

#commentform textarea#comment {
    width: 100%;
}

.nav-previous a::before {
    content: '⬅';
    @apply mr-1 text-gray-600;
}

.nav-next a::after {
    content: '➡';
    @apply ml-1 text-gray-600;
}

.e-content ul {
    list-style-position: inside;
    list-style-type: disc;
    @apply mb-4 pl-4;
}

.h-entry .e-content h2 {
    @apply text-xl text-gray-900 mb-4 mt-10 border-b-4 border-solid;
}

.h-entry .e-content h3 {
    @apply text-gray-800 mb-4 mt-10 border-b-2 border-dashed;
}

.h-entry .e-content h4 {
    @apply text-gray-800 mb-4 mt-6;
}

.kind-article h1,
.kind-article h2 {
    font-family: serif;
    @apply text-xl text-gray-900 mb-4 mt-10 border-b-4 border-solid;
}

.kind-article h3 {
    font-family: serif;
    @apply text-gray-800 mb-4 mt-10 border-b-2 border-dashed;
}

.kind-article h4 {
    font-family: serif;
    @apply text-gray-800 mb-4 mt-6;
}

.kind-article img {
    @apply mb-5;
}

h3#reply-title {
    @apply text-lg;
}

.comment-form-author,
.comment-form-email,
.comment-form-url,
.comment-form-use-gravatar,
.comment-form-comment {
    @apply mt-2;
}

.comment-notes,
.comment-form-comment label,
.comment-form-author label,
.comment-form-email label,
.comment-form-url label,
.comment-form-use-gravatar,
.comment-form-cookies-consent,
label[for="webmention-source"] {
    @apply block text-gray-700 text-sm font-bold;
}

.comment-form-comment textarea,
.comment-form-author input,
.comment-form-email input,
.comment-form-url input,
#webmention-source {
    @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight;
}

#submit, #webmention-submit {
    @apply shadow bg-gray-500 text-white font-bold py-2 px-4 mt-3;
}

#submit:hover, #webmention-submit:hover {
    @apply bg-gray-600 outline-none;
    cursor: pointer;
}

#content a[href^="https://commonplace.doubleloop.net"] {
    text-decoration:underline;
    text-decoration-style: solid;
    text-decoration-color: theme('colors.orange.300');
    text-decoration-thickness: 3px;
}

#content a[href^="https://commonplace.doubleloop.net"]:hover,
.current_page_item a {
    text-decoration:underline;
    text-decoration-style: solid;
    text-decoration-thickness: 3px;
    text-decoration-color: var(--menu-text-decoration-color);
    background-color: var(--menu-highlight);
}

p.verse,
.u-quotation-of + .e-content blockquote,
.kind-quote .e-content blockquote
{
    @apply bg-blue-100 italic font-serif text-xl;
    border-top: 1px solid var(--main-border-color);
    border-bottom: 1px solid (--main-border-color);

}

.syndication-links {
    @apply border-dotted border-t mt-4 text-sm;
}

html {
    background-color: var(--second-bg-color);
    color: var(--second-color);
}

.ds-note {
    @apply bg-white text-gray-700 px-6 py-6 rounded border-solid border-0 border-t-2 border-b-2 border-dotted border-gray-500 w-full mb-6 flex-col flex leading-normal tracking-tight text-lg shadow-md;
    background-color: var(--second-bg-color);
    color: var(--second-color);
}


@screen sm {
    .ds-note {
        @apply flex-row border-2;
    }
}

ul#primary-menu {
    display:flex;
}

ul#primary-menu li {
    @apply pr-2;
}

